.adding-form {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 1px solid #d6dde5;
    box-shadow: 0 0 8px #d6dde5;
    margin: 26px;
}

.adding-form
input {
    cursor: text;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}

.adding-form
input:focus { border-bottom: 1px solid #c62d4d; }

.adding-form
input:focus::-webkit-input-placeholder { color: #c62d4d; }
.adding-form
input:focus:-moz-placeholder           { color: #c62d4d; }
.adding-form
input:focus:-ms-input-placeholder      { color: #c62d4d; }

.adding-form input,
.adding-form button {
    outline: none;
    margin: 8px 0;
    padding: 12px;
}

.adding-form
button {
    cursor: pointer;
    border: none;
    background: #d6dde5;
    border: 1px solid transparent;
}

.adding-form
button[disabled] { cursor: not-allowed; }

.adding-form
button:not([disabled]):hover { border: 1px solid #c62d4d; }

.adding-form__message {
    padding: 12px 0;
    text-align: right;
    color: #c62d4d;
    font-size: 0.7rem;
    padding-top: 0;
}