@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

html,
body {
    height: 100%;
    background: #eff3f6;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.2rem;
}

#root {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Comfortaa', cursive; }

h1, h2 {
    text-align: center;
    margin: 18px;
}

h1 {
    font-size: 3rem;
    color: #555;
}

h2, h3, h4, h5, h6 { color: #333; }

h2 { font-size: 2rem; }

h3 { font-size: 1.6rem; }

h4 { font-size: 1.4rem; }

h5 { font-size: 1.2rem; }

h6 { font-size: 1rem; }

a {
    color: #c62d4d;
    font-size: 1.1rem;
}

mark {
    background: rgba(198,45,77,0.1);
    border-radius: 3px;
    display: inline-block;
    padding: 0 10px;
    box-shadow: 0 0 2px 0px #c62d4d;
}
p, ol, ul { margin: 18px 0; }

section, article {
    margin: 64px 0;
}